@import "color";
@import "media";
@import "buttons";
@import "mainOrderInfo";
@import "orderOperations";
@import "headerTask";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
body {
  font-family: "Comfortaa", cursive;
  background-color: #ffffff;
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
}
input {
  //   box-shadow: 0 0 3px rgba(128, 128, 128, 0.8);
  background-color: rgb(240, 240, 240);
  border: 1px solid #222;
  border-radius: 3px;
  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    border: 1px solid dodgerblue;
  }
  &:focus {
    //  background-color: rgba(30, 144, 255, 0.1);
    background-color: #fff;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
  }
  &::placeholder {
    //  background-color: $color-container-subTitle;
    color: #222;
    padding: 0;
    border: 0;
  }
}
textarea {
  padding: 3px;
  background-color: rgb(240, 240, 240);
  &:focus {
    background-color: rgb(255, 255, 255);
    border: 1px solid dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
  }
  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    border: 1px solid dodgerblue;
  }
}

// .svg-wrapper {
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
//   margin: 0 auto;
//   margin-top: 50px;
//   width: 320px;
// }
// .shape {
//   stroke-dasharray: 140 540;
//   stroke-dashoffset: -474;
//   stroke-width: 8px;
//   fill: transparent;
//   stroke: #19f6e8;
//   border-bottom: 5px solid black;
//   transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
// }
// .text {
//   font-family: "Roboto Condensed";
//   font-size: 22px;
//   line-height: 32px;
//   letter-spacing: 8px;
//   text-align: center;
//   color: rgb(255, 141, 47);
//   top: -48px;
//   position: relative;
// }
// .svg-wrapper:hover .shape {
//   stroke-width: 2px;
//   stroke-dashoffset: 0;
//   stroke-dasharray: 760;
// }
