@import "color";
@import "media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
body {
  font-family: "Comfortaa", cursive;
  background-color: #ffffff;
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 1.9rem;
    font-weight: bold;
  }
  .preps {
    line-height: 1.2;
    a {
      text-decoration-line: none;
    }
  }
}
.header {
  display: flex;
  align-items: flex-end;
  margin: 10px 0 10px 0;

  label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #222;
    border-radius: 3px;
    padding: 4px 10px;
    margin-bottom: 0.5px;
    background: $color-container-subTitle;
  }
  input {
    width: 250px;
    border: 1px solid #222;
    border-radius: 3px;
    text-align: center;
    padding: 4px 10px;
    background-color: #fff;
  }
  .request input {
    padding: 6px 10px;
  }
  .order-number input {
    padding: 6px 10px;
  }
}

/*******************************************************/
/******** Блок с основными параметрами заказа *********/
/*******************************************************/

.order-description {
  display: flex;
}
.order-description__main {
  display: flex;
  width: 60%;
  input::placeholder {
    visibility: hidden;
  }
  .comment::placeholder {
    visibility: hidden;
  }
  .comment {
    display: block;
    margin-left: 2px;
    border-radius: 3px;
    border: 1px solid #222;
    font-size: 0.9rem;
  }
}
.order-description__prefabricated {
  display: flex;
  width: 40%;
  .prefabricated-line {
    display: flex;
    p:nth-child(-n + 3) {
      padding-right: 2px;
    }
    .w40 {
      width: 40%;
    }
    .w30 {
      width: 30%;
    }
    .w10 {
      width: 10%;
    }
    .w20 {
      width: 20%;
    }
  }
  .description-name {
    .lab {
      width: 60px;
      text-align: center;
    }
  }
}

.description-name {
  .lab {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid #222;
    border-radius: 3px;
    font-weight: bold;
    text-align: right;
    padding: 4px 3px;
    margin-bottom: 1.3px;
  }
  .lab:nth-child(odd) {
    background-color: $color-container-subTitle;
  }
}

.description-value {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 4px;

  .double-line {
    display: flex;
    p {
      width: 100%;
      &:nth-child(1) {
        padding-right: 2px;
      }
    }
  }
  input {
    width: 100%;
    text-align: center;
    border: 1px solid #222;
    padding: 3px;
    margin: 0px 0px 1.3px 2px;
    border-radius: 3px;
    &:focus {
      background-color: rgba(30, 144, 255, 0.1);
      border: 1px solid dodgerblue;
      box-shadow: 0 0 5px 0 dodgerblue;
    }
    &::placeholder {
      background-color: $color-container-subTitle;
      color: #222;
      padding: 0;
      border: 0;
    }
  }
}

/******************************************************/
/********************  КНОПКИ  ************************/
/******************************************************/

.btn-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 0 auto;
  margin-top: 20px;
}
.btn-list__title {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 7px 10px;
  margin-bottom: 2px;
  border: 1.5px solid $color-containerTitle_start;
  background: $color-containerTitle_start;
  user-select: none;
  transition: 0.3s;
}
.btn-list__title:hover {
  border: 1.5px solid #222;
}
.colorClick {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 7px 10px;
  margin-bottom: 2px;
  background: $color-containerTitle_finish;
  border: 1.5px solid #222;
  user-select: none;
}

/******************************************************/
/********** Секция с выполняемыми оперециями **********/
/******************************************************/

.main-wrapper {
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.main-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 2px;
  .cont-title {
    display: flex;
  }
}
.container-title {
  display: inline-block;
  width: 238px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 5px 15px;
  margin: 7px 2px 4px 0;
  background: $color-btn-container-title;
  user-select: none;
}
.sub-title {
  display: inline-block;
  width: 180px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 6px 0;
  margin: 7px 0 4px 0;
  background: $color-container-subTitle;
  user-select: none;
}

.sub-cont {
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}
/********************************************************/
/************************ FIRST *************************/
/********************************************************/
input {
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.8);
}
.first-block {
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  width: 50%;
  .nomination {
    width: 100%;
    border: 1px solid #222;
    border-radius: 3px;
    font-weight: bold;
    text-align: right;
    padding: 4px 3px;
    margin-bottom: 1.3px;
    &:nth-child(odd) {
      background-color: $color-container-subTitle;
    }
  }
  .inp-disabled {
    width: 100%;
    margin-bottom: 1.3px;
    font-weight: bold;
  }
}
/********************************************************/
/************************* SECOND ***********************/
/********************************************************/
.second-block {
  display: flex;
  flex-direction: column;
  width: 50%;
  .inp-value {
    width: 100%;
    margin-bottom: 1.3px;
  }
  input {
    width: 100%;
    text-align: center;
    border: 1px solid #222;
    padding: 3px;
    border-radius: 3px;
    &:focus {
      background-color: rgba(30, 144, 255, 0.1);
      border: 1px solid dodgerblue;
      box-shadow: 0 0 8px 0 dodgerblue;
    }
    &::placeholder {
      background-color: $color-container-subTitle;
      color: #222;
      padding: 0;
      border: 0;
    }
  }
}

// .svg-wrapper {
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
//   margin: 0 auto;
//   margin-top: 50px;
//   width: 320px;
// }
// .shape {
//   stroke-dasharray: 140 540;
//   stroke-dashoffset: -474;
//   stroke-width: 8px;
//   fill: transparent;
//   stroke: #19f6e8;
//   border-bottom: 5px solid black;
//   transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
// }
// .text {
//   font-family: "Roboto Condensed";
//   font-size: 22px;
//   line-height: 32px;
//   letter-spacing: 8px;
//   text-align: center;
//   color: rgb(255, 141, 47);
//   top: -48px;
//   position: relative;
// }
// .svg-wrapper:hover .shape {
//   stroke-width: 2px;
//   stroke-dashoffset: 0;
//   stroke-dasharray: 760;
// }
