@import "color";
@import "media";

.bigg {
  width: 120px;
  height: 120px;
  border: 1px solid #222;
  background-color: red;
  display: inline-block;
  margin-top: 25px;
  margin-left: 50px;
  transition: 0.6s;
  //   transform: rotate(90deg);
}
// .red {
//   background-color: red;
// }
.green {
  background-color: green;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-shadow: 0 0 25px #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
body {
  font-family: "Comfortaa", cursive;
  //   font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
}

.btn-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: stretch;
  max-width: 1440px;
  margin: 0 auto;
  .btn-list__title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 7px 17px;
    margin-bottom: 2px;
    background: $color-container-title;
    user-select: none;
  }
}
/***** Заголовок *****/
.tit {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  width: 280px;
  height: 60px;
  margin-top: 10px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 0 0 10px #a3a3a3;
  transition: 0.1s;
  border-radius: 5px;
  cursor: pointer;
  & h1:hover {
    font-size: 44px;
    box-shadow: 0 0 0 #46cad3;
  }
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.container {
  display: block;
  position: relative;
  width: 33%;

  // border: 2px solid #222;
  // height: 300px;
  // left: 100px;
  // margin-top: 20px;
}
/************ Кнопка контейнера *************/
.container-title {
  display: inline-block;
  width: 300px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 4px 15px;
  margin-bottom: 2px;
  background: $color-btn-container-title;
  user-select: none;
}

.item {
  display: inline-block;
  // border: 3px solid red;
  position: relative;
  width: 49%;
  box-shadow: 0 0 10px #a3a3a3;
}
/************* ! Обертка списков **************/
.item input {
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 3px;
  border-radius: 3px;
  &:focus {
    background-color: rgba(30, 144, 255, 0.1);
    border: 1px solid dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
  }
  &::placeholder {
    color: #222;
    padding: 0;
    border: 0;
  }
}
/************* ! Список описания **************/
.inp1 {
  text-align: right;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #222;
  margin-top: 1.5px;
  cursor: pointer;
  &:nth-child(odd) {
    background-color: rgb(202, 202, 202);
  }
}
/************* ! Список значений **************/
.inp2 {
  border: 1px solid #222;
  margin-top: 1.5px;
  text-align: center;
}
.double-value-item {
  display: flex;
}
.double-value-item .double-inp {
  position: relative;
  border: 1px solid #222;
  margin-top: 1.5px;
  text-align: center;
  margin-right: 1px;
  &:nth-child(even) {
    width: 25px;
  }
}
