@media screen and (max-width: 1024px) {
  .wrapper {
    display: flex;
    justify-content: space-around;
    margin: 10px 15px;
  }
  .container {
    min-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 8px;
  }
  .btn-list {
    display: flex;
    flex-direction: column;
  }

  .container-title {
    padding: 0;
    text-align: left;
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
  }
  .order-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    .order-description__main {
      min-width: 100%;
      .description-name {
        display: none;
      }
    }
    .order-description__prefabricated {
      min-width: 100%;
      margin-top: 10px;
    }
  }
}
