/******************************************************/
/********** Секция с выполняемыми оперециями **********/
/******************************************************/

.main-wrapper {
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.main-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 2px;
  .harvesting,
  .print,
  .lamination,
  .hot-stamping,
  .varnishing,
  .cold-stamping,
  .carve,
  .gluing-together,
  .cutting,
  .packaging {
    opacity: 0;
  }
  .container {
    margin-bottom: 5px;
    padding-right: 5px;
    .container-title {
      display: inline-block;
      width: 238px;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      border: 1px solid #222;
      border-radius: 3px;
      padding: 5px 15px;
      margin: 7px 2px 4px 0;
      background: #8d8d8d;
      user-select: none;
    }
  }

  .cont-title {
    display: flex;
  }
}
.sub-title {
  display: inline-block;
  width: 180px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 6px 0;
  margin: 7px 0 4px 0;
  background: #c5c5c5;
  user-select: none;
}

.sub-cont {
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #222;
}
/********************************************************/
/************************ FIRST *************************/
/********************************************************/

.first-block {
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  width: 50%;
  .nomination {
    width: 100%;
    border: 1px solid #222;
    border-radius: 3px;
    font-weight: bold;
    text-align: right;
    padding: 5px 3px;
    margin-bottom: 1.3px;
    &:nth-child(odd) {
      background-color: #c5c5c5;
    }
  }
}
/********************************************************/
/************************* SECOND ***********************/
/********************************************************/
.second-block {
  display: flex;
  flex-direction: column;
  width: 50%;
  .inp-value {
    width: 100%;
    margin-bottom: 1.3px;
  }
  input {
    width: 100%;
    text-align: center;
    padding: 4px;
  }
}
